<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id = "orderService2" class = "in.strikes.OrderService">
            <constructor-arg ref = "paymentService"/>

    </bean>

    <!--

    <bean id = "orderService" class = "in.strikes.OrderService"/>

    -->

    <bean id="paymentService" class="in.strikes.PaymentService">
        <constructor-arg index = "0" value = "UPI"/>
        <constructor-arg index = "1" value = "3"/>
    </bean>

</beans>